:root {
  --box-shadow: 0 0 4px #bbb;
  --white: #fff;
  --orange: #ff5722;
  --grey-custom: #ccc;
  --font-grey-custom: #909090;
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.custom-navbar {
  background-color: var(--white) !important;
  box-shadow: var(--box-shadow);
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.0);
}

.color-orange {
  color: var(--orange) !important;
}